<div class="header">
<div class="logo">
<img src="../../assets/logo.jpg" alt="logo-img">
</div>
<div class="middle-list">
<ul class="list">
    <a routerLink=""><li> <i class="material-icons-outlined">home</i>Home</li>
    </a>
    <a routerLink="marketPorperty"><li><i class="material-icons-outlined">accessibility</i>Market Your Property</li>
    </a> 
    <li><i class="material-icons-outlined">contacts</i>Contact</li>
    <a routerLink="opinion"><li><i class="material-icons-outlined">opinion</i>opinion</li>
    </a>
    <li></li>
</ul>
</div>
<div class="right-section">
<ul class="right-list">
    <li><i class="material-icons-outlined">login</i>login</li>
    <li><i class="material-icons"></i>Register</li>
</ul>
</div>
</div>