<div class="box1">
<div class="detail">
<h1 class="title">Market your property</h1>
<p class="intro">renta; have been advising on selling and renting property for over 160 years, from country cottages to city center officers, Agricultural land to new-build developments. weather you are planning to sell, rent or are undecided, we can help.</p>
</div>

    <div class="book-valuation">
        <div class="left-box">
        <div class="details">
            <h1 class="title">Book a valuation</h1>
            <p class="description">book your appointment with us today and let us 
            help you keep moving. our virtual options are still available if you prefer.</p>
            <span class="find-me">Arrange your valuation now </span>
        </div>
        </div>
        <div class="right-box">
        <div class="image-box">
        <img src="../../assets/room/flower.jpg" alt="image">
        </div>
        </div>
        </div>
</div>
<div class="box2">
<div class="row">
    <div class="icon"><img src="../../assets/icons/view.jpg" alt=""></div>
    <div class="detail">
    <h1 class="title">Most Visited website</h1>
    <p class="intro">With over 2.7 million visits per month+, savills.co.uk is the
    most visited uk national estate agency websites</p>
</div>
</div>
<div class="row">
    <div class="icon"><img src="../../assets/icons/time-e.jpg" alt=""></div>
    <div class="detail">
    <h1 class="title">160 Years of experience</h1>
    <p class="intro">whether selling a city flat or a country cottage leasing office space
    or renting farmland, we've been helping clients achieve their property goals for more than 160 years</p>
</div>
</div>
<div class="row">
    <div class="icon"><img src="../../assets/icons/exposure-g.jpg" alt=""></div>
    <div class="detail">
    <h1 class="title">Global exposure</h1>
    <p class="intro">savills.co.uk regularly attracts visits from more than 220 territories around the worlds, giving your property acces to more opportunities to sell.</p>
</div>
</div>
</div>
<div class="services">
<h1>How can we help you?</h1>
    <div class="row">
    <div class="container">
        <p class="type">service</p>
        <h1 class="title">Selling a residential property</h1>
        <p class="intro">From advising how to present your home for viewings,
        to negotiating the sale, we guide you every step of the way.</p>
    </div>
    <div class="container">
        <p class="type">service</p>
        <h1 class="title">Selling a residential property</h1>
        <p class="intro">From advising how to present your home for viewings,
        to negotiating the sale, we guide you every step of the way.</p>
    </div>
    <div class="container">
        <p class="type">service</p>
        <h1 class="title">Selling a residential property</h1>
        <p class="intro">From advising how to present your home for viewings,
        to negotiating the sale, we guide you every step of the way.</p>
    </div>
    <div class="container">
        <p class="type">service</p>
        <h1 class="title">Selling a residential property</h1>
        <p class="intro">From advising how to present your home for viewings,
        to negotiating the sale, we guide you every step of the way.</p>
    </div>
    <div class="container">
        <p class="type">service</p>
        <h1 class="title">Selling a residential property</h1>
        <p class="intro">From advising how to present your home for viewings,
        to negotiating the sale, we guide you every step of the way.</p>
    </div>
    <div class="container">
        <p class="type">service</p>
        <h1 class="title">Selling a residential property</h1>
        <p class="intro">From advising how to present your home for viewings,
        to negotiating the sale, we guide you every step of the way.</p>
    </div>
    </div>
</div>
