<div class="home">
    <div class="container-home">
    <div class="details">
        <h4 class="title">What can we do for you?</h4>
        <span>RESIDENTIAL & new developments</span>
        <span>COMMERCIAL & development land</span>
       <span>farms,estates & agricultural land</span>
    </div>
    </div>
    <marquee behaviour="alternate" scrollamount="30" 
    onmouseover="this.stop()"
    onmouseout="this.start()"
    width="90%" direction="right">
    <div class="featured">
      
    <div class="f-container">
        <div class="url">
            <img src="../../assets/house1.jpg" alt="image">
            </div>  
         <div class="artical">
           <span class="title">Flat for rent in  teku</span><br><br>
           <span class="location">kathmandu,teku</span><br><br>
           <div class="last-section">
           <span class="id">Id: 1245</span>
           <span class="price">Rs: 456</span>
        </div>
        </div>
      
    </div>
   
    <div class="f-container">
        <div class="url">
            <img src="../../assets/house1.jpg" alt="image">
            </div>  
         <div class="artical">
           <span class="title">Flat for rent in  teku</span><br><br>
           <span class="location">kathmandu,teku</span><br><br>
           <div class="last-section">
           <span class="id">Id: 1245</span>
           <span class="price">Rs: 456</span>
        </div>
        </div>
      
    </div>
    <div class="f-container">
        <div class="url">
            <img src="../../assets/house1.jpg" alt="image">
            </div>  
         <div class="artical">
           <span class="title">Flat for rent in  teku</span><br><br>
           <span class="location">kathmandu,teku</span><br><br>
           <div class="last-section">
           <span class="id">Id: 1245</span>
           <span class="price">Rs: 456</span>
        </div>
        </div>
      
    </div>
    <div class="f-container">
        <div class="url">
            <img src="../../assets/house1.jpg" alt="image">
            </div>  
         <div class="artical">
           <span class="title">Flat for rent in  teku</span><br><br>
           <span class="location">kathmandu,teku</span><br><br>
           <div class="last-section">
           <span class="id">Id: 1245</span>
           <span class="price">Rs: 456</span>
        </div>
        </div>
      
    </div>
    <div class="f-container">
        <div class="url">
            <img src="../../assets/house1.jpg" alt="image">
            </div>  
         <div class="artical">
           <span class="title">Flat for rent in  teku</span><br><br>
           <span class="location">kathmandu,teku</span><br><br>
           <div class="last-section">
           <span class="id">Id: 1245</span>
           <span class="price">Rs: 456</span>
        </div>
        </div>
      
    </div>
    <div class="f-container">
        <div class="url">
            <img src="../../assets/house1.jpg" alt="image">
            </div>  
         <div class="artical">
           <span class="title">Flat for rent in  teku</span><br><br>
           <span class="location">kathmandu,teku</span><br><br>
           <div class="last-section">
           <span class="id">Id: 1245</span>
           <span class="price">Rs: 456</span>
        </div>
        </div>
        </div>
    </div>
    </marquee>
   
    
    
    <div class="on-sales">
        <div class="left-sider">
            <div class="slider side">
                <owl-carousel-o [options] = "BannerOptions">
                <ng-template carouselSlide> <img src="../../assets/room/sitting.jpg" alt="banner"></ng-template>
                <ng-template carouselSlide> <img src="../../assets/room/kitchen.jpg"alt="banner"></ng-template>
                <ng-template carouselSlide> <img src="../../assets/room/r1.jpg"alt="banner"></ng-template>
                <ng-template carouselSlide> <img src="../../assets/house4.jpg"alt="banner"></ng-template>
            </owl-carousel-o>         
    </div>
    <div class="detail">
        <div class="l-detail">
           <span class="new">new</span> 
           <span class="organizer">managed by manager</span>
           <span class="current-state">furnished</span>
        </div>
        <div class="r-detail">
        <span class="icons"><i class="material-icons-outlined">images</i>1/5</span>
        <span class="star">&#9734;</span>
        <span class="save">Save</span>
        </div>
        </div>
    </div>
        <div class="right-sider">
            <div class="price-box">
            <span class="guid-price">Guide price</span><br>
            <span class="rate">$3,683</span><br>
            <span class="status">Monthly + <span class="fees">Fees apply </span></span>
            </div>
            <div class="apartment">
                <span class="name">Ebury Apartments</span><br>
                <span class="location">1B Sutherland street, pimico, London, SWIV 4BF</span>
                <div class="facility">
                    <ul class="list">
                    <li>Impressive modern apartment</li>
                    <li> 2 bathroom</li>
                    <li>2 double bedrooms</li>
                    <li>24/7 concerge</li>
                    </ul>
                </div>
            </div>
            <div class="agents-list">
                <div class="agent">
                    <img class="profile" src="../../assets/profile/p1.jpg" alt="">
                    <div class="agent-details">
                        <span class="name">Sean Trully</span><br>
                        <span class="address">Westminster & pimico</span><br>
                        <span class="contact">+44(0) 203 430 6670</span><br>
                        <span class="click">Contact now</span>
                    </div>
                </div>
                <div class="agent">
                    <img class="profile" src="../../assets/profile/p2.jpg" alt="">
                    <div class="agent-details">
                        <span class="name">Sean Trully</span><br>
                        <span class="address">Westminster & pimico</span><br>
                        <span class="contact">+44(0) 203 430 6670</span><br>
                        <span class="click">Contact now</span>
                    </div>
                </div>
            </div>
            <div class="apartment-status">
            <div class="right-status">
                <span class="home-icon"><i class="material-icons-outlined">home</i>Flat/Apartment</span>
                <span class="area"><i class="material-icons-outlined">square</i>812 sq ft (75.44 sq m)</span>
            </div>
            <div class="left-status">
               <span class="favorite"><i class="material-icons-outlined">favorite</i>3</span> 
               <span class="thump"><i class="material-icons-outlined">recommend</i>4</span> 
               <span class="more"><i class="material-icons-outlined">more</i>4</span> 

            </div>
        </div>
        </div>
        
    </div>
    
    <div class="market-property">
        <div class="details">
        <h1 class="title">market your property with us </h1>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos laborum repudiandae accusantium deserunt, dolor qui repellat cum aut, 
        explicabo illum, laboriosam natus sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, incidunt! Quidem magnam at optio culpa recusandae reprehenderit, sapiente quam quasi eos velit excepturi distinctio ullam est, et sunt aut ipsa. Minima, nesciunt animi corrupti sequi dolor iusto?</p>
       <div class="button">
        <button class="btn valuation">Arrange a Valuation</button>
        <button class="btn learn-more">Learn more</button>
        </div>
    </div>
    </div>
    <div class="talk-to-us">
        <div class="left-box">
        <div class="details">
            <h1 class="title">Talk to us</h1>
            <p class="description">Whatever your needs, we have someone who can help</p>
            <span class="find-me">Find a peraon of office </span>
        </div>
        </div>
        <div class="right-box">
        <div class="image-box">
        <img src="../../assets/room/r1.jpg" alt="image">
        </div>
        </div>
     
        </div>
   <div class="latest-properties">
   <div class="top">
    <h1 class="title">Latest Properties</h1>
    <button class="view">View All property</button>
    </div>
    <div class="row">
    <div class="container">
        <img src="../../assets/latest-property/img1.jpg" alt="" class="image">
        <div class="description">
        <button class="new">NEW</button>
        <div class="rating">
            <span><i class="material-icons-outlined">image</i></span>
            <span><i class="material-icons-outlined">star</i></span>
        </div>
        </div>
        <div class="details">
            <p class="price">Guide price</p>
            <div class="amount">275,000</div>
            <h2 class="name">Wardie Road </h2>
            <p>Edinburgh, EH5 3LL</p>
        </div>
        <div class="buttom">
        <div class="top">
            <span class="distance"><i class="material-icons-outlined">square</i><span>847sqft</span></span>
        </div>
        <div class="bottom">
            <span class="bedroom"><i class="material-icons-outlined">bedrooms</i></span>
            <span class="bathroom"><i class="material-icons-outlined">bathrooms</i></span>
            <span class="reseption"><i class="material-icons-outlined">receptions</i></span>
            </div>
        </div>
        
    </div>
    <div class="container">
        <img src="../../assets/latest-property/img1.jpg" alt="" class="image">
        <div class="description">
        <button class="new">NEW</button>
        <div class="rating">
            <span><i class="material-icons-outlined">image</i></span>
            <span><i class="material-icons-outlined">star</i></span>
        </div>
        </div>
        <div class="details">
            <p class="price">Guide price</p>
            <div class="amount">275,000</div>
            <h2 class="name">Wardie Road </h2>
            <p>Edinburgh, EH5 3LL</p>
        </div>
        <div class="buttom">
        <div class="top">
            <span class="distance"><i class="material-icons-outlined">square</i><span>847sqft</span></span>
        </div>
        <div class="bottom">
            <span class="bedroom"><i class="material-icons-outlined">bedrooms</i></span>
            <span class="bathroom"><i class="material-icons-outlined">bathrooms</i></span>
            <span class="reseption"><i class="material-icons-outlined">receptions</i></span>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="../../assets/latest-property/img1.jpg" alt="" class="image">
        <div class="description">
        <button class="new">NEW</button>
        <div class="rating">
            <span><i class="material-icons-outlined">image</i></span>
            <span><i class="material-icons-outlined">star</i></span>
        </div>
        </div>
        <div class="details">
            <p class="price">Guide price</p>
            <div class="amount">$275,000</div>
            <h2 class="name">Wardie Road </h2>
            <p>Edinburgh, EH5 3LL</p>
        </div>
        <div class="buttom">
            <div class="top">
            <span class="distance"><i class="material-icons-outlined">square</i><span>847sqft</span></span>
        </div>
            <div class="bottom">
            <span class="bedroom"><i class="material-icons-outlined">bedrooms</i></span>
            <span class="bathroom"><i class="material-icons-outlined">bathrooms</i></span>
            <span class="reseption"><i class="material-icons-outlined">receptions</i></span>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="../../assets/latest-property/img1.jpg" alt="" class="image">
        <div class="description">
        <button class="new">NEW</button>
        <div class="rating">
            <span><i class="material-icons-outlined">image</i></span>
            <span><i class="material-icons-outlined">star</i></span>
        </div>
        </div>
        <div class="details">
            <p class="price">Guide price</p>
            <div class="amount">275,000</div>
            <h2 class="name">Wardie Road </h2>
            <p>Edinburgh, EH5 3LL</p>
        </div>
        <div class="buttom">
        <div class="top">
        <span class="distance"><i class="material-icons-outlined">square</i><span>847sqft</span></span>
        </div>
        <div class="bottom">
        <span class="bedroom"><i class="material-icons-outlined">bedrooms</i></span>
        <span class="bathroom"><i class="material-icons-outlined">bathrooms</i></span>
        <span class="reseption"><i class="material-icons-outlined">receptions</i></span>
        </div>
    </div>
    </div>
    </div>
    
   </div>
    
</div>  