<div class="home">
<section class="slider">
    <owl-carousel-o [options] = "BannerOptions">
    <ng-template carouselSlide> <img src="../../assets/house1.jpg" alt="banner">1</ng-template>
    <ng-template carouselSlide> <img src="../../assets/house2.jpg"alt="banner">2</ng-template>
    <ng-template carouselSlide> <img src="../../assets/house3.jpg"alt="banner">3</ng-template>
    <ng-template carouselSlide> <img src="../../assets/house4.jpg"alt="banner">4</ng-template>
    </owl-carousel-o>
    
    </section>
    <div class="featured">
    <div class="f-container">
        <div class="url">
            <img src="../../assets/house1.jpg" alt="image">
            </div>  
         <div class="artical">
           <span class="title">Flat for rent in  teku</span><br><br>
           <span class="location">kathmandu,teku</span><br><br>
           <div class="last-section">
           <span class="id">Id: 1245</span>
           <span class="price">Rs: 456</span>
        </div>
        </div>
      
    </div>
    
    </div>
    <h1>{{frs.name}}</h1>
</div>  