.home{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
.container-home{
    background-image: url("../../assets/house/house3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin: 0;
    
}
   

// .slider{
//     width: 100%;
//     display: block;
// }
.featured{
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 250px;
    padding: 0;
    margin: 5px;
    margin-left: 6rem;
    background: rgba(white,1);
    align-items: center;
    align-content: center;
    text-align: center;
}
marquee{
    display: flex;
    justify-content: center;
    margin-left: 6rem;
} 
.f-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 5px;
    box-shadow: 1px 2px 4px 0px rgb(72, 71, 71);
 
    
    &:hover .last-section{
        visibility: visible;
        
        
    }
    transition: all ease-in-out 5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all ease-in-out 5s;
    -moz-transition: all ease-in-out 5s;
    -ms-transition: all ease-in-out 5s;
    -o-transition: all ease-in-out 5s;
}
.url{
    box-shadow: 0px 2px 4px 0 whitesmoke;
   
    img{
       width: 200px;
       height: 150px;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
}
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.artical{
    display: block;
    margin: 5px;
    padding-top: 10px;
}
.title {
    font-weight: 700;
    font-size: 18px;
    font-family:  Courier, monospace;
    line-height: 10px;
    text-transform: capitalize;
    margin-bottom: 0;

}
.location,
.id,
.price
{ 
    text-transform: capitalize;  
}
.last-section{
    display: flex;
    justify-content: space-between;
    color: rgba(white, 0.7);
    background-color: rgba(black,0.6);
    padding:  10px ;
    margin:  -9px;
    border-radius: 10px;
    visibility: hidden;
   
}
}
// -------------------------------------
// on sales styles
// ---------------------------------------------
.on-sales{
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    margin-top: 2rem;
}
.side img{
    height: 420px;
}


.detail{
    display: flex;
    justify-content: space-between;
    background-color: rgba(black,0.5);
    width: 50%;
    padding: 1rem 0;
    position: absolute;
    bottom: 2.5rem;
    z-index: 1;   
}
.new,
.organizer,
.current-state{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.1px;
    padding: 5px 17px;
    margin: 0 10px;
    border-radius: 4px;
    
}
.new{
    background:rgba(yellow, 0.8);
    color: rgba(black,0.7);
}
.organizer{
    color:rgba(white, 0.9);
    background:rgba(red,0.8);
}
.current-state{
    background:rgba(white,0.8);
    color: rgba(black,0.6);
}

.star,
.save
{
    color: rgba(white, 0.9);
    font-weight: 700;
    font-size: 16px;
    margin: 0 10px;
}
.icons{
    padding: 0;
    color: rgba(white, 0.9);
    font-weight: 700;
    margin-right: 10px;
    i{
        font-size: 16px;
        margin-right:-10px;
    }
    
}
.right-sider{
    padding: 10px 20px;
}
.price-box{
    margin-bottom: 30px;
    .guid-price,
    .status{
        font-size: 12px;
        color: rgba(black,0.5);
    }
    .rate{
        font-size: 18px;
        font-style: italic;
    }
     .fees{
          border-bottom: 2px solid red;
          color: rgba(black,0.5);
          line-height: 1.5px;
     }   
    
}
.apartment{
    .name{
        font-size: 19px;
        font-weight: 700;
        color: rgba(black,0.7);
    }
    .location{
        color: rgba(black,0.7); 
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
    }
    .list{
        display:grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        margin-top: 1.5rem;
    li{
        list-style-type:circle ; 
         }
}
}
.agents-list{
    
   display: grid;
   grid-template-columns: 50% 50%;
    margin-top: 3rem;
}
.agent{
    display: flex;
    gap: 20px;
}
.profile{
    width: 80px;
    height: 80px;
}
.agent-details{
    .name,
    .contact{
        font-weight: 700;
        font-size: 16px;
        color: rgba($color: #000000, $alpha: 0.8);
    }
    .address,
    .click{
        font-weight: 400;
        color: rgba(black,0.6);
        letter-spacing: 0.1px;
        font-size: 14px;
    }

.click{
    border-bottom: 2px solid red;
}
}
.apartment-status{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-shadow: 1px 1px 2px 3px rgba(black,0.3);
    color: rgba(black,0.7);
    font-size: 14px;
    margin: 1.8rem -15px 0 -10px;
span{
    margin-right: 8px;
}
}
//---------------------------------
//talk to us
//-------------------------------
.talk-to-us{
   display: grid;
   grid-template-columns: 50% 50%;
    width: 90%;
    margin-top: 3rem;
   
    
}


//market your property

.market-property{
     background-image: url("../../assets/market3.jpg"),
     linear-gradient(rgb(7, 18, 28), rgba(255, 255, 255, 0));
     background-position: center;
     background-repeat: no-repeat;
     filter: blur(0.5px);
     //-webkit-filter: blur(8px);
     background-size: cover;
     //backdrop-filter: blur(10px);
     -webkit-filter: blur(0.5px);
     background-blend-mode: darken;
     height: 400px;
}
.details{
    width: 60%;
    margin: 7rem 3rem 2rem 4rem;
    color: aliceblue;
    .title{
        font-size: 50px;
        font-weight: 500;
    }
    .description{
        margin-top: 3rem;
        font-size: 18px;
        font-weight: 500;
    }
    .button{
        margin-top: 3rem;
        position: relative;


    }
}
.btn{
    position: relative;
    overflow: hidden;
    padding: 15px 40px;
    font-size: 16px;
    margin-right: 10px;
    background: none;
    border: 2px solid #817f13;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.learn-more{
    color:  #817f13;;
    border-color: white;
}
.valuation{
    color: #fff;
}
.learn-more:hover{
    color:#fff;   
}
.valuation:hover{
    color:  #817f13;
}
.btn:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background:  #817f13;
    z-index: -1;
    transition: 0.8s;
    
}
.learn-more::before{
    top: 0;
    border-radius: 0 0 50% 50%;
    -webkit-border-radius: 0 0 50% 50%;
    -moz-border-radius: 0 0 50% 50%;
    -ms-border-radius: 0 0 50% 50%;
    -o-border-radius: 0 0 50% 50%;
}
.valuation::before{
    bottom: 0;
    height: 180%;
    border-radius: 50% 50% 0 0;
    -webkit-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
}
.learn-more:hover::before{
    height: 180%;
}
.valuation:hover::before{
    height: 0%;
}
.latest-properties{
    margin-top: 1rem;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
.top{
   display: flex;
   justify-content: space-between;
    gap: 45rem;
    margin: 2rem 0 3rem 0;
.title{
     padding: 10px;
     font-size: 40px;
     font-weight: 550;
     text-transform: capitalize;
     }
 .view{
     font-size: 16px;
     font-weight: 500;
     padding: 5px 1rem;
     
 }
    }
.row{
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 1rem;
    justify-content: center;
}
    .container{
        display: block;
        position: relative;
        box-shadow: 0 0 1px 1px rgb(236, 233, 233);
        overflow: hidden;
    }
.description{
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: absolute;
    top: 8.5rem;
    width: 90%;
    color: beige;
    margin: 0;
    padding: 0;
}
.details{
    color: #000000;
    margin: 0;
    margin-left: 1rem;
    text-align: start;
    width: 100%;
.amount{
    font-size: 30px;
    font-weight: 520;
}
.name{
    font-size: 25px;
    font-weight: 530;
    margin: 0;
}

}
.buttom{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 90%;
    border-top: 1px solid black;
    margin: 0;
    margin-top: 1rem;
   
    text-align: center;
    
.top{
    margin: 0;
    margin-top: 1rem;
    margin-left: 5px;
}
.bottom{
    margin-top: 1rem;
}

}
.distance{
    display: flex;
}

}



