<div class="opinion">
<div class="introduction">
    <div class="top">
        <h1 class="title">Insight & Opinion</h1>
        <p class="description">Insight & Opinion is our hub for residential, commercial and rural articles and research from experts offering industry
        leading advice and analysis.</p>
    </div>
    <div class="bottom">
        <div class="b-research">
        <img src="../../assets/icons/research.jpg" alt="" class="icon">
        <div class="detail">
        <h1 class="title">research</h1>
        <p class="intro">world-class insight into trends and predictions across commercial,residental and rural markets.</p>
        </div>
    </div>
        <div class="b-blog">
            <img src="../../assets/icons/blog.jpg" alt="" class="icon">
            <div class="detail">
            <h1 class="title">the rental blog </h1>
            <p class="intro">the latest news,views,guides and top tip from renowned industry experts.</p>
        </div>
        </div>
        <div class="b-news">
            <img src="../../assets/icons/news.jpg" alt="" class="icons">
           <div class="detail">
            <h1 class="title">Rental News</h1>
            <p class="intro">up-to-date development and news from the uk property industry</p>
        </div>
        </div>
    </div>
    
</div>

<div class="research">
<div class="details">
    <h1 class="title">Research</h1>
    <p class="description">in-depth research and analysis into property market
    trends, forecasts from our specialist research teams, and market-leading commentary
    to help you make the right property decisions.</p>
    <div class="button">
        <button class="btn btn1">View all research</button>
        <button class="btn btn2">Subscribe to Rental Research</button>
    </div>
</div>
</div>
<div class="notice">
<div class="container">
<div class="notice1">
    <span class="invest">Commercial investment</span>
    <span class="date">24 august 2022</span>
    <h1>sportlight central london office outlook -hi 2022</h1>
    <div class="button">
    <button class=" btn btn1">central london</button>
    <button class=" btn btn2">central london construction</button>
    </div>  
</div>
<div class="notice2">
    <p class="note">Supply of new homes holds up, but falling planning consents and a changing market lie ahead.</p>
    <button class="read-now">read now</button>
    <i></i>
</div>
</div>
<div class="container">
    <div class="notice1">
        <span class="invest">Commercial investment</span>
        <span class="date">24 august 2022</span>
        <h1>sportlight central london office outlook -hi 2022</h1>
        <div class="button">
        <button class="btn btn1">central london</button>
        <button class="btn btn2">central london construction</button>
        </div>  
    </div>
    <div class="notice2">
        <p class="note">Supply of new homes loremholds up, but falling planning consents and a changing market lie ahead.</p>
        <button class="read-now">read now</button>
        <i></i>
    </div>
    </div>
</div>
<div class="news">
<div class="row">
    <div class="container-top">
        <span class="invest">Food and farming</span>
        <span class="date">31 may 2022</span>
        <h1 class="title">spotlight: agri-food sustainability</h1>
        <p class="intro">commitments to enhanced environmental standards are becoming 
        common across agri-food supply chains</p>
        <div class="button1">
        <button class="btn btn1">Agricultural emissions</button>
        <button class="btn btn2">Agri-food</button>
    </div>
   
    </div>
    <div class="container-bottom">
        <h1 class="title">sportlight central london office outlook -hi 2022</h1>
        <h3>Abstract</h3>
       <p>Commitments to enhanched environmental standards are becoming common across agri-food supply chains</p>
        <div class="button2">
            <button class="btn btn1">Read Now</button>
            <button class="btn btn2">Download pdf</button>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="container-top">
        <span class="invest">Food and farming</span>
        <span class="date">31 may 2022</span>
        <h1 class="title">spotlight: agri-food sustainability</h1>
        <p class="intro">commitments to enhanced environmental standards are becoming 
        common across agri-food supply chains</p>
        <div class="button1">
        <button class="btn btn1">Agricultural emissions</button>
        <button class="btn btn2">Agri-food</button>
    </div>
   
    </div>
    <div class="container-bottom">
        <h1 class="title">sportlight central london office outlook -hi 2022</h1>
        <h3>Abstract</h3>
       <p>Commitments to enhanched environmental standards are becoming common across agri-food supply chains</p>
        <div class="button2">
            <button class="btn btn1">Read Now</button>
            <button class="btn btn2">Download pdf</button>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="container-top">
        <span class="invest">Food and farming</span>
        <span class="date">31 may 2022</span>
        <h1 class="title">spotlight: agri-food sustainability</h1>
        <p class="intro">commitments to enhanced environmental standards are becoming 
        common across agri-food supply chains</p>
        <div class="button1">
        <button class="btn btn1">Agricultural emissions</button>
        <button class="btn btn2">Agri-food</button>
    </div>
   
    </div>
    <div class="container-bottom">
        <h1 class="title">sportlight central london office outlook -hi 2022</h1>
        <h3>Abstract</h3>
       <p>Commitments to enhanched environmental standards are becoming common across agri-food supply chains</p>
        <div class="button2">
            <button class="btn btn1">Read Now</button>
            <button class="btn btn2">Download pdf</button>
        </div>
    </div>
    
</div>
</div>

</div>